---
title: Drachenwald 30th Year & Coronation
subtitle: Netherlands, 14-18 June 2023
---

<div class="container text-center">
  <p>
    The Shire of Polderslot invites you to join us at a historic castle in Limburg,
    Netherlands to celebrate 30 years became the SCA's 13th Kingdom!
  </p>
</div>

<div class="text-center m-4">
  <a href="https://fb.me/e/1Cry9NmyE" class="btn btn-primary shadow"><i class="fa-brands fa-square-facebook"></i> Follow the event on Facebook</a>
</div>

<div class="card-group shadow mt-5">
  <div class="card">
    <img src="/images/splash/splash-site.jpg" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title">Event site</h5>
      <p class="card-text">How to find it and what to expect.</p>
    </div>
    <div class="card-footer text-center bg-transparent border-0 pb-3">
      <p class="card-text">
        <a role="button" class="btn btn-primary stretched-link" href="{% link where/index.md %}">See the site</a>
      </p>
    </div>
  </div>

  <div class="card">
    <img src="/images/splash/splash-dining.jpg" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title">Pricing & Registration</h5>
      <p class="card-text">Coming soon.</p>
    </div>
    <div class="card-footer text-center bg-transparent border-0 pb-3">
      <p class="card-text">
        <a role="button" class="btn btn-primary stretched-link" href="{% link reg/index.md %}">Pricing coming soon</a>
    </div>
  </div>

  <div class="card">
    <img src="/images/splash/splash-accom.jpg" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title">Accommodation</h5>
      <p class="card-text">Affordable or luxury, at your option.</p>
    </div>
    <div class="card-footer text-center bg-transparent border-0 pb-3">
      <p class="card-text">
        <a role="button" class="btn btn-primary stretched-link" href="{% link accom/index.md %}">See accommodation</a>
      </p>
    </div>
  </div>
</div>

<br />

{% assign numposts = site.posts | size %}
{% if numposts > 0 %}

<br />
<div class="container">
  <div class="text-center">
    <h2>Latest news</h2>
  </div>
  <br />
  <div class="list-group shadow">
    {% for post in site.posts limit:3 %}
        <div class="list-group-item list-group-item-action pv-3">
          <p><strong>{{ post.title }}</strong></p>
          <p>
            {{ post.excerpt }}
          </p>
          <div class="text-end">
            <a role="button" class="btn btn-outline-primary stretched-link" href="{{ post.url }}">Read "{{ post.title }}"</a>
          </div>
          
        </div>
    {% endfor %}
  </div>
  <br />
  <div class="text-center">
    <p>
      <a href="{% link news/index.html %}" class="btn btn-primary shadow px-5">More news...</a>
    </p>
  </div>
</div>

{% endif %}