---
title: Drachenwald 30th Year & Coronation
subtitle: Netherlands, 14-18 June 2023
---

<div class="container text-center">
  <p>
    Come join us at a historic castle in Limburg, Netherlands
    to celebrate 30 years of the SCA in Europe.
  </p>
</div>

<div class="text-center">
  <a href="https://fb.me/e/1Cry9NmyE" class="btn btn-primary shadow"><i class="fa-brands fa-square-facebook"></i> Follow the event on Facebook</a>
</div>

<br />
<br />

<div class="card-group shadow">
  <div class="card">
    <img src="/images/splash/splash-site.jpg" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title">Event site</h5>
      <p class="card-text">How to find it and what to expect.</p>
      <p class="card-text">
        <a role="button" class="btn btn-primary stretched-link" href="{% link where.md %}">See the site</a>
      </p>
    </div>
  </div>

  <div class="card">
    <img src="/images/splash/splash-dining.jpg" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title">Pricing & Registration</h5>
      <p class="card-text">Coming soon.</p>
      <p class="card-text">
        <a role="button" class="btn btn-primary stretched-link" href="{% link reg.md %}">Pricing coming soon</a>
    </div>
  </div>

  <div class="card">
    <img src="/images/splash/splash-accom.jpg" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title">Accommodation</h5>
      <p class="card-text">Affordable or luxury, at your option.</p>
      <p class="card-text">
        <a role="button" class="btn btn-primary stretched-link" href="{% link accom.md %}">See accommodation</a>
      </p>
    </div>
  </div>
</div>

<br />

{% assign numposts = site.posts | size %}
{% if numposts > 0 %}

<br />
<div class="container">
  <div class="text-center">
    <h2>Latest news</h2>
  </div>
  <br />
  <div class="list-group shadow">
    {% for post in site.posts limit:5 %}
        <a href="{{ post.url }}" class="list-group-item list-group-item-action">
          <h3>{{ post.title }}</h3>
          <p>
            <i class="text-muted">{{ post.date | date: "%-d %b %Y" }}</i>
            {{ post.excerpt }}
          </p>
          
        </a>
    {% endfor %}
  </div>
  <br />
  <div class="text-center">
    <p>
      <a href="{% link news/index.html %}" class="btn btn-primary shadow">More news...</a>
    </p>
  </div>
</div>

{% endif %}