---
title: News
---

<div class="container">
  <div class="">
    {% for post in paginator.posts %}
        <div class="card p-2 m-4">
          <h3>{{ post.title }}</h3>
          <p>
            {{ post.excerpt }}
          </p>
          <div class="text-end">
            <a role="button" class="btn btn-outline-primary stretched-link" href="{{ post.url }}">Read "{{ post.title }}"</a>
          </div>
          
        </div>
    {% endfor %}
  </div>
</div>


<div class="text-center mt-3">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous btn btn-primary">
      Previous
    </a>
  {% else %}
    <span class="previous btn btn-primary disabled">Previous</span>
  {% endif %}
  <span class="page_number btn disabled">
    &nbsp;Page {{ paginator.page }} of {{ paginator.total_pages }}&nbsp;
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next btn btn-primary">Next</a>
  {% else %}
    <span class="next btn btn-primary disabled">Next</span>
  {% endif %}
</div>

