				<br />
			</div>


			<nav id="footer" class="navbar navbar-expand-lg bg-primary " style="color: #ffff00">

        <div class="container">
					<div class="row">

						<div class="col-3 col-md-2 align-middle">
							<br />
							<img src="/images/polderslot-arms.gif" width="90" class="float-start">
						</div>


						<div class="col-9 col-md-10 align-middle">

							<br />

							<ul class="list-inline">
								<li class="list-inline-item pe-3">
									<a href="https://fb.me/e/1Cry9NmyE" class="text-reset"><i class="fab fa-facebook"></i> Facebook</a>
								</li>
								<li class="list-inline-item pe-3">
									<a href="mailto:{{ site.email }}" class="text-reset"><i class="fas fa-envelope"></i> Email</a>
								</li>
							</ul>

							{% if site.github.repository_url %}
								<ul class="list-inline">
									<li class="list-inline-item pe-3">
										<a href="{{site.github.repository_url}}/blob/main/{{ page.path }}" class="text-reset"><i class="fab fa-fw fa-github"></i> Edit this page on GitHub</a>
									</li>
									<li class="list-inline-item pe-3">
										<a href="{{site.github.repository_url}}/issues/new?body=Path%3A%20{{ page.url }}%0D" class="text-reset"><i class="fab fa-fw fa-github"></i> Open an issue on GitHub</a>
									</li>
								</ul>
							{% endif %}

							<ul class="list-inline">
								<li class="list-inline-item pe-3">
									<a href="https://www.polderslot.info" class="text-reset"><i class="fa-solid fa-globe"></i> Polderslot (SCA Netherlands)</a>
								</li>
								<li class="list-inline-item pe-3">
									<a href="https://drachenwald.sca.org" class="text-reset"><i class="fa-solid fa-globe"></i> Drachenwald (SCA Europe)</a>
								</li>
							</ul>

							<div>
								&copy; <script>document.write(new Date().getFullYear());</script>
								SCA (Polderslot). This is a subsite of the recognised web site for the
								Kingdom of Drachenwald in the
								<a href="https://www.sca.org/" class="text-reset">Society for Creative Anachronism</a>. 
								Copyright on all content and images remains with the creators.
								The banner image of Kasteel de Berckt te Baarlo is by
								<a href="https://commons.m.wikimedia.org/wiki/File:26527_Kasteel_de_Berckt_te_Baarlo_4.jpg" class="text-reset">Johan Bakker</a>,
								licensed CC BY-SA 4.0.
							</div>

							<br />
						</div>


					</div>

        </div>

      </nav>

	</body>
</html>
